@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h class="display-4">Welcome</h>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
</div>
