html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-container {
    max-width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    /* camsı yapı için bunları ekle / değiştir: */
    background: rgba(255, 255, 255, 0.2); /* saydam beyaz */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari için */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.login-containter h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}
.login-container input {
    width: 100%;
    padding =8px;
    margin-bottom: 15px;
    box-sizing = border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
        background-color: #0056b3;
    }

